<!DOCTYPE html>
<html lang="ru" class="compensate-for-scrollbar">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

  <title>{{ title }}</title>
  {{#if @global.publicPath }}
    <base href="{{ @global.publicPath }}">
  {{/if}}
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body>
<div class="wrapper">
  <header>Header</header>
  <aside>
    <h2 style="margin-bottom: 20px;">Меню</h2>
    <nav class="index-list">
      {{#each common.pages }}
        <div>
          <a href="{{ link }}" style="padding: 10px 0; display: block;">{{ title }}</a>
        </div>
      {{/each}}
    </nav>
  </aside>
  <main>
    {{#block "main"}}{{/block}}
  </main>
  <footer>Footer</footer>
</div>

<!-- inject:js -->
<!-- endinject -->

{{#block "inline-scripts"}}{{/block}}

</body>
</html>
