@font-face {
  font-display: swap;
  font-family: OpenSans;
  src: url('../fonts/OpenSans.woff2') format('woff2'),
  url('../fonts/OpenSans.woff') format('woff'),
  url('../fonts/OpenSans.ttf')  format('truetype');

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-display: swap;
  font-family: OpenSans;
  src: url('../fonts/OpenSansBold.woff2') format('woff2'),
  url('../fonts/OpenSansBold.woff') format('woff'),
  url('../fonts/OpenSansBold.ttf')  format('truetype');

  font-style:   normal;
  font-weight:  600;
}
