// Vars loads by webpack
$breakpoints: (
    mobile: $breakpoint-mobile,
    tablet: $breakpoint-tablet,
    desktop: $breakpoint-desktop
);

$font-main: OpenSans, sans-serif;

$font-color: #3A3A3A;
$color--primary: #0086a7;
$color--secondary: #d897ed;
$color--dark: #0d5566;
