body {
  width: 100%;
  height: 100%;
  min-width: 320px;
  color: $font-color;
  font: 400 normal 14px/1.2 $font-main;
  background-color: #fff;
}
html {
  height: 100%;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}


