form {
  padding: 2rem;
  max-width: 600px;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 1rem;
  align-items: baseline;
}

fieldset {
  display: contents;
}

label {
  text-align: right;
}
input {
  border: 1px solid $color--primary;
  height: 48px;
  border-radius: 4px;
}
button {
  height: 48px;
  grid-column: 1 / -1;
  border: 0;
  background-color: $color--primary;
  color: #fff;
  border-radius: 4px;
}


@media (max-width: 500px) {
  form {
    grid-template-columns: 1fr;
  }

  label {
    text-align: left;
    margin-bottom: -0.75rem;
  }
}
