.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 1rem;

  article {
    padding: 1rem;
    border: 1px solid $color--primary;

    &.promo {
      grid-column: 1/3;
      grid-row: 2/4;
      background-color: $color--primary;
      color: #fff;
    }
    &.w-100 {
      grid-column: 1/-1;
      grid-row: 6/7;
      background-color: $color--primary;
      color: #fff;
    }
  }
}
