.lk {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}

.avatar {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}
.about {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
}
.posts {
  grid-row: 1 / 5;
  grid-column: 3 / 7;
  display: grid;
  grid-gap: 20px;
}
.post {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 20px;
}

img {
  width: 100%;
}
h2 {
  margin: 0;
}
