.magic-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 5rem;
  grid-gap: 1rem;
  article {
    position: relative;
    padding: 1rem;
    border: 1px solid $color--primary;
  }
}
