.masonry {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 10rem;
  grid-gap: 1rem;
  grid-auto-flow: dense;

  article {
    padding: 1rem;
    border: 1px solid $color--primary;

    &:nth-child(3n) {
      grid-column: span 2;
      grid-row: auto;
      background: $color--primary;
    }

    &:nth-child(5n+1) {
      grid-column: auto;
      grid-row: span 2;
      background: $color--secondary;
    }

    &:nth-child(9n) {
      grid-column: span 3;
      grid-row: span 2;
      background: $color--dark;
      color: #fff;
    }
  }
}
