.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-areas:
    'header'
    'aside'
    'content'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 60px auto 1fr 3rem;

  > * {
    padding: 1rem;
    border: 1px solid $color--primary;
    font-size: 18px;
  }

  @include media-min(tablet) {
    grid-template-areas:
    'header header'
    'aside content'
    'footer footer';
    grid-template-columns: 300px 1fr;
    grid-template-rows: 100px 1fr 100px;
  }
}
header {
  grid-area: header;
}

main {
  grid-area: content;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}
