{{#extend
  "layouts/base"
  title=common.pages.form.title
}}
  {{#content "main"}}
    <div class="lk">
      <section class="avatar">
        <img src="https://www.meme-arsenal.com/memes/6cc2c9676b78a3a6690b48c41e936660.jpg" alt="">
      </section>
      <section class="about">
        <h2>About Barsik:</h2>
        <ul>
          <li><h3>Job Title:</h3> <span class="about-value">Code maker or something</span></li>
          <li><h3>Location:</h3> <span class="about-value">USA</span></li>
        </ul>
      </section>
      <section class="posts">
        <h2>Recent Posts:</h2>

        {{#times 3}}
          <article class="post">
            <div class="thumbnail"><img src="https://www.meme-arsenal.com/memes/6cc2c9676b78a3a6690b48c41e936660.jpg"></div>
            <div class="post__content">
              <div class="author">Barsik</div>
              <div class="time">Posted: Today 12:05pm</div>
              <div class="content">CSS Grid Layout представляет двумерную сетку для CSS. Grid (здесь и далее подразумевается CSS Grid Layout ) можно использовать для размещения основных областей страницы или небольших элементов пользовательского интерфейса. В этой статье описывается компоновка сетки CSS и новая терминология, которая является частью спецификации CSS Grid Layout Level 1. Функции, показанные в этом обзоре, будут более подробно описаны в остальной части данного руководства.</div>
            </div>

          </article>
        {{/times}}

      </section>
    </div>
  {{/content}}
{{/extend}}
