{{#extend
  "layouts/base"
  title=common.pages.columnsAdaptive.title
}}
  {{#content "main"}}
    <section class="magic-columns">
      {{#times 12}}
        <article>Item {{math 1 "+" this}}</article>
      {{/times}}
    </section>
  {{/content}}
{{/extend}}
