{{#extend
  "layouts/base"
  title=common.pages.form.title
}}
  {{#content "main"}}
    <form>
      <fieldset>
        <label for="firstname">First name</label>
        <input id="firstname" type="text" />

        <label for="lastname">Last Name</label>
        <input id="lastname" type="text" />

        <label for="dob">Date of birth</label>
        <input id="dob" type="date" />
      </fieldset>

      <button type="submit">Submit</button>
    </form>
  {{/content}}
{{/extend}}
