{{#extend
  "layouts/base"
  title=common.pages.gallery.title
}}
  {{#content "main"}}
    <section class="gallery">
      <article>
        CSS Grid Layout представляет двумерную сетку для CSS. Grid (здесь и далее подразумевается CSS Grid Layout ) можно использовать для размещения основных областей страницы или небольших элементов пользовательского интерфейса. В этой статье описывается компоновка сетки CSS и новая терминология, которая является частью спецификации CSS Grid Layout Level 1.       </article>
      {{#times 23}}
        <article>Product {{math 1 "+" this}}</article>
      {{/times}}
      <article class="promo">Item promo</article>
      <article class="w-100">Item full width promo</article>

    </section>
  {{/content}}
{{/extend}}
