{{#extend "layouts/base" title="Главная страница"}}
  {{#content "main"}}
    <div class="container">
      <h1>Примеры</h1>
      <ul class="index-list">
        {{#each common.pages }}
          <li>
            <a href="{{ link }}">{{ title }}</a>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/content}}
{{/extend}}
