{{#extend
  "layouts/base"
  title=common.pages.masonry.title
}}
  {{#content "main"}}
    <section class="masonry">
      {{#times 29}}
        <article>Item {{math 1 "+" this}}</article>
      {{/times}}
    </section>
  {{/content}}
{{/extend}}
