{{#extend
  "layouts/base"
  title=common.pages.productCard.title
}}
  {{#content "main"}}
    <div class="sizes">
      <label>
        <input type="radio" name="size" value="l" checked onchange='onChange(this)'>
        <span>Size L</span>
      </label>
      <label>
        <input type="radio" name="size" value="m" onchange='onChange(this)'>
        <span>Size M</span>
      </label>
      <label>
        <input type="radio" name="size" value="s" onchange='onChange(this)'>
        <span>Size S</span>
      </label>
    </div>

    <div class="card size_l" id="card">
      <img src="https://i.pinimg.com/736x/36/99/a2/3699a2af241ac463894b18b5a22aeecb.jpg" class="photo">
      <div class="info">
        <h3>Some flat</h3>
        <p>At some location</p>
        <p>Closest subway station</p>
      </div>
      <div class="price">
        $1 600 / month
      </div>
      <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class="actions">
        <button type="button">📞</button>
        <button type="button">❤</button>
      </div>
      <div class="date">
        yesterday
      </div>
    </div>
  {{/content}}

  {{#content "inline-scripts"}}
    <script>
      const card = document.getElementById("card")
      const sizeClasses = {
        s: 'size_s',
        m: 'size_m',
        l: 'size_l',
      }

      function onChange(el) {
        card.classList.remove(...Object.values(sizeClasses))
        card.classList.add(sizeClasses[el.value])
      }
    </script>
  {{/content}}
{{/extend}}
